
* {
    border: none;
    border-radius: 0;
    font-family: Hack, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #98971a;
    color: #282828;
}

#workspaces button {
    padding: 0 5px;
    background: #98971a;
    color: #282828;
}

#workspaces button.focused {
    background: #98971a;
    color: #ebdbb2;
}

#pulseaudio, #clock, #battery {
    padding: 0 10px;
    margin: 0 5px;
}

#mode {
    padding: 0 10px;
    background: #b16286;
    color: #282828;
}

#clock {
}

#battery {
}

#battery.charging {
    color: #282828;
    background-color: #689d6a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: #282828;
    background-color: #cc241d;
}
